---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.1
  name: llms.kubechain.humanlayer.dev
spec:
  group: kubechain.humanlayer.dev
  names:
    kind: LLM
    listKind: LLMList
    plural: llms
    singular: llm
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.provider
      name: Provider
      type: string
    - jsonPath: .status.ready
      name: Ready
      type: boolean
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: LLM is the Schema for the llms API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: LLMSpec defines the desired state of LLM
            properties:
              apiKeyFrom:
                description: APIKeyFrom references the secret containing the API key
                properties:
                  secretKeyRef:
                    description: SecretKeyRef references a key in a secret
                    properties:
                      key:
                        description: Key is the key in the secret
                        type: string
                      name:
                        description: Name is the name of the secret
                        type: string
                    required:
                    - key
                    - name
                    type: object
                required:
                - secretKeyRef
                type: object
              maxTokens:
                description: MaxTokens defines the maximum number of tokens for the
                  LLM.
                minimum: 1
                type: integer
              provider:
                description: 'Provider is the LLM provider name (ex: "openai", "anthropic")'
                enum:
                - openai
                - anthropic
                type: string
              temperature:
                description: Temperature adjusts the LLM response randomness (0.0
                  to 1.0)
                pattern: ^0(\.[0-9]+)?|1(\.0+)?$
                type: string
            required:
            - apiKeyFrom
            - provider
            type: object
          status:
            description: LLMStatus defines the observed state of LLM
            properties:
              ready:
                description: Ready indicates if the external dependency (e.g. secret)
                  has been validated.
                type: boolean
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
